@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: monospace, system-ui, sans-serif;
  }
}
h1 {
  color: #787878;
  letter-spacing: 3px;
  font-size: 24px;
  font-weight: 600;
}
h2 {
  color: #545454;
  letter-spacing: 3px;
  font-weight: 600;
}
p {
  font-size: 16px;
  line-height: 24px;
  @apply text-gray-700;
}
.container {
  @apply px-5 mx-auto;
}

.row {
  @apply flex flex-wrap;
}
/********** main **********/
div.slide-left {
    width:100%;
    overflow:hidden;
  }
  div.slide-left p {
    animation: slide-left 10s;
  }
  
  @keyframes slide-left {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  /************** Buttons ************/
  .main-btn {
    @apply inline-block px-8 py-4 font-bold text-white duration-300 bg-blue-700 rounded-full;
  }
  .main-btn:hover {
    @apply bg-blue-400;
  }
  
  .main-btn.shadow-btn {
    @apply text-indigo-600 bg-white;
  }
  .main-btn.shadow-btn:hover {
    @apply bg-white shadow-xl;
  }

  .gradient-btn {
    background-image: linear-gradient(to right, #F2C0FF 0%, #2bdbdc 50%, #0067f4 100%);
    background-size: 200% auto;
    overflow: hidden;
  }
  .gradient-btn:hover {
    background-position: right center;
    @apply shadow-xl;
  }
